@model UserManagement.Web.Models.Users.UserListItemViewModel

<h1>User Details</h1>
<form method="post">
<div>
    <label>ID:</label>
    <span>@Model.Id</span>
</div>

<div>
    <label>Forename:</label>
    <span>@Model.Forename</span>
</div>
<div>
    <label>Surname:</label>
    <span>@Model.Surname</span>
</div>
<div>
    <label>Email:</label>
    <span>@Model.Email</span>
</div>
<div>
    <label>IsActive:</label>
    <span>@Model.IsActive</span>
</div>
<div>
    <label>Date of Birth:</label>
    <span>@Model.DateofBirth</span>
</div>
</form>
<a asp-controller="Users" asp-action="List" class="btn btn-primary float-end">
    Return to List
</a>

